<p>
<strong>date</strong>
<%= @holiday.on_date %>
</p>

<p>
<strong>ocassion</strong>
<%= @holiday.ocassion %>
</p>

<p>
<strong>day</strong>
<%= @holiday.day %>
</p>

<%= link_to 'Back',  holidays_path   %><br>
<%= link_to 'Edit',   edit_holiday_path %><br>