<p>
  <strong>user_email</strong>
  <%= @user.email %>
</p>

<p>
  <strong>password</strong>
  <%= @user.password %>
</p>

<p>
  <strong>user_name</strong>
  <%= @user.user_name%>
</p>

<p>
  <strong>user_mobileno</strong>
  <%= @user.user_mobileno%>
</p>

<p>
  <strong>date_of_birth</strong>
  <%= @user.date_of_birth%>
</p>

<p>
  <strong>skills</strong>
  <%= @user.skills%>
</p>

<p>
  <strong>image</strong>
  <%= @user.images%>
</p>