<br>
<div class="card text-white bg-dark mb-3-3" style="width: 18rem;">

  <div class="card-header">
    Daily Status
  </div>
  <ul class="card-title">
    <li class="list-group-item">working_hours:<br>
     <%= @attendance.working_hours%></li>
     <li class="list-group-item">Project_Name:<br>
      <%= @attendance.project_name%></li>
    <li class="list-group-item">Task_Description: <br>
     <%= @attendance.task_description %></li> 
   </ul>
<button type="button" class="btn btn-outline-primary"> <%= link_to 'Edit', edit_user_emp_attendance_path  %>  </button>
<button type="button" class="btn btn-secondary btn-sm"> <%= link_to 'Back', user_emp_attendances_path%> </button>

