<div class = "container">
<br>
<div class= "col-md-3">
<h3 style="background-color:powderblue;">Project Details</h3>
</div>


<div class= "col-md-9">
<table class="table table-bordered table-striped table-hover"><br>
  <tr>
 
  <%= form_for "", url: user_projects_path, role: "search", method: :get do %>
  <% text_field_tag :search, @search_term, placeholder: "search....", class: "form-control" %>
  <% end %>
  <br>

    <th>Project_Name</th>
    <th>Duration</th>
    <th>Team_size</th>
    <th>Lead_name</th>
    <th>Start_date</th>
    <th>User_Name</th>
    <th></th>
    <th>Action</th>
    <th></th>
  </tr>
    <% @projects.each do |project| %>
    <% if  current_user.role.code == 'employee' && project.user_id == current_user.id  %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= project.duration %></td>
      <td><%= project.team_size %></td>
      <td><%= project.lead_name %></td>
      <td><%= project.start_date %></td>
      <td><%= project.employee_name  %></td>
       <td><%= link_to 'Show',   user_project_path(@user,project), class:"btn btn-info btn-sm" %></td>
    </tr>
    <% elsif  current_user.role.code == 'admin' %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= project.duration %></td>
      <td><%= project.team_size %></td>
      <td><%= project.lead_name %></td>
      <td><%= project.start_date %></td>
      <td><%= project.employee_name  %></td>
      <td><%= link_to 'Show',   user_project_path(@user,project), class:"btn btn-info btn-sm" %></td>
      <td><%= link_to 'Edit',   edit_user_project_path(@user,project) , class:"btn btn-info btn-sm"%></td>
      <td><%= link_to 'Destroy',  user_project_path(@user,project),
            method: :delete,
            data: { confirm: 'Are you sure?' } , class:"btn btn-info btn-sm"%></td>
    </tr>
    <%end %>
  <% end %>
</div>
</table>